<%= stylesheet_link_tag "product_comments", :media => "all" %>
<br>
<div class="col-md-push-2 col-md-8 commentArea">
<% if @product_comments.present? %>
  <% @product_comments.each do |comment| %>
        <div class="commentBox">
        <% if comment.user.id == @product.user.id %>
          <span class="commentAdmin userName"><%= comment.user.name %></span>
        <% else %>
          <span class="userName"><%= comment.user.name %></span>
        <% end %>
        <% if comment.user.id == current_user.id %>
        <div class="dropdown">
        <%= submit_tag "Settings", method: :get, class: "btn btn-primary commentSettings", :type => 'button' %>
          <div class="dropdown-content">
          <%= button_to "Edit Comment", edit_product_comment_path(comment), method: :get, class: "btn editBtn btn-primary" %>
          <%= button_to 'Delete Comment', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn commentBtn btn-primary" %>
        </div>
        </div>
        <% elsif current_user.id == @product.page.user.id %>
        <div class="dropdown">
          <%= submit_tag "Settings", method: :get, class: "btn btn-primary commentSettings", :type => 'button' %>
          <div class="dropdown-content">
          <%= button_to 'Delete Comment', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn commentBtn btn-primary" %>
        </div>
        </div>
        <% end %>
          <div class="commContent"><%= comment.content %></div>
        </div>
      <% end %>
 <% else %>
 	<div class="noComments">There are currently no comments. Tell us what you think of this product.</div>
 <% end %>
  </div>