<%= stylesheet_link_tag "comments", :media => "all" %>
<%= javascript_include_tag "comments" %>
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



        <div class="postBox">
        <%= link_to (image_tag @post.page.image_url(:thumb), class: "listImagePagePost"), @post.page, method: :get %> 
        <div class="postPageTitle"><%= link_to @post.page.try(:title), @post.page, method: :get %></div>

                <div class="postSection">
                  <div class="pictureSection">
                   <% if @post.post_attachments.length < 2 %>
                <% @post.post_attachments.each do |p| %>
                  <%= (link_to image_tag(p.image_url(:horizontal), class: "post1Pictures"), p, method: :get) if p.image?%>
                <% end %>
                <% elsif @post.post_attachments.length < 3 %>
                 <% @post.post_attachments.each do |p| %>
                  <%= (link_to image_tag(p.image_url(:small), class: "post2Pictures"), p, method: :get) if p.image?%>
                <% end %>
                <% elsif @post.post_attachments.length > 4 %>
                <% @post.post_attachments.limit(4).each do |p| %>
                  <%= (link_to image_tag(p.image_url(:small), class: "postPictures"), p, method: :get) if p.image?%>
                <% end %><hr>
                <%= link_to 'Show more', @post, method: :get, class: "showImagePosts" %>
                <% else %>
                <% @post.post_attachments.limit(4).each do |p| %>
                  <%= (link_to image_tag(p.image_url(:small), class: "postPictures"), p, method: :get) if p.image?%>
                <% end %>
              <% end %>
                </div>
        </div>
          <div class="contentSection">
        <dt class="postTitle"><%= @post.title %></dt>
          <% if @post.content.length > 200 %>
                      <div class="postContent"><%= truncate @post.content, length: 200 %></div>
                    <%= link_to 'read more', @post, method: :get %>
                  <% else %>
                    <div class="postContent"><%= @post.content %></div>
                  <% end %>
          </div>
            <div class="commentSection"></div>
        <div class="lowerAttri">
                  <span class="dateNtime"><%= @post.updated_at.to_time.strftime('%B %e at %l:%M %p') %></span>
                </div>

      </div>

      <hr>

  <div class="field">
    <%= f.hidden_field :post_id %>
  </div>

  <div class="field">
      <%= f.text_area :content, class: "formFieldText", required: true %>
      <%= f.submit(class: "btn submitBtn btn-primary") %> 
  </div>
<% end %>

