<%= stylesheet_link_tag "admin", :media => "all" %>
<div class="container">
<h1>Welcome <%= @userAdmin.name %></h1>

We have <%= pluralize(@total_pages, "pages") %>
  <hr>
  <% if @pages.present? %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Page Name</th>
          </tr>
        </thead>
        <tbody>
      <%  @pages.each do |page| %>
      <tr>
        <td>
          <%= link_to page, method: :get, class: "SpecialA" do %>
            <div><%= page.title %></div>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
    </table>
  <% else %>
  <div class="text-center">
      <p class="noOrder">There are no pages yet.</p>
  </div>
  <% end %>
</div>

<!-- Algorithms -->