<%= stylesheet_link_tag "users", :media => "all" %>
<%= form_for @user do |f| %>
<div class="container">
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="text-center">
    <% if params[:action] == 'new' || params[:action] == 'create' %> 
      <legend>Enter your details</legend>
      <% end %>
        <%= image_tag @user.image_url(:thumb), class: "userImage" if @user.image? %>
       <div class="fileUpload btn btn-primary">
        <span>Upload Profile Image</span>
          <%= f.file_field :image, class: "upload" %>
        </div>
    </div>
      <hr>
  </div>

<div class="col-md-6 col-md-offset-1 col-xs-12 newMargin">

  <div class="field">
    <%= f.label :name, class: "titlePostForm" %><br>
    <%= f.text_field :name, class: "fieldUsers" %>
  </div>
<hr>
<% if params[:action] == 'edit' || params[:action] == 'update' || params[:action] == 'show' %> 
  <%= f.label "Your Username is" , class: "titlePostForm" %>
    <div class= "username"><%= @user.username %></div>
<% end %>
<% if params[:action] == 'new' || params[:action] == 'create' %> 
 <div class="field">
    <%= f.label :username, class: "titlePostForm" %><br>
    <%= f.text_field :username, class: "formFieldLine" %>
  </div>
<% end %>
  <hr>
<div class="field">
    <%= f.label :email, class: "titlePostForm" %><br>
    <%= f.email_field :email, class: "fieldUsers" %>
  </div>
  <hr>
</div>

  <% if params[:action] == 'new' || params[:action] == 'create' %> 
  <div class="col-md-10 col-md-offset-1 col-xs-12">
    <div class="col-md-6 passFields">
      <div class="field">
        <%= f.label :password, 'New Password',  class: "titlePostForm" %><br>
        <%= f.password_field :password, class: "fieldUsers" %>
      </div>
    <hr>
      <div class="field">
        <%= f.label :password_confirmation, 'Confirm Password',  class: "titlePostForm" %><br>
        <%= f.password_field :password_confirmation, class: "fieldUsers" %>
      </div>
    </div>
    <div class="col-md-6 passwordNoticePos col-xs-30">
      <div class="passwordNotice">
        - Must contain 8 or more characters<br>
        - Must contain a digit<br>
        - Must contain a lower case character<br>
        - Must contain an upper case character<br>
        - Must contain a symbol
      </div>
    </div>
    </div>
    <div class="passwordNoticePosMob col-xs-12">
      <div class="passwordNotice">
        - Must contain 8 or more characters<br>
        - Must contain a digit<br>
        - Must contain a lower case character<br>
        - Must contain an upper case character<br>
        - Must contain a symbol
      </div>
    </div>
  <% end %>





<div class="col-md-12 col-md-offset-1 col-xs-12 newMargin">
  <% if params[:action] == 'edit' || params[:action] == 'update' || params[:action] == 'show'%> 
  <%= submit_tag "Password Change", method: :get, class: "btn btn4 btn-primary vewton", :type => 'button' %>




  <div id="passChange">
    <hr>
    <div class="col-md-6 passFields">
      <div class="field">
        <%= f.label :password, 'New Password',  class: "titlePostForm" %><br>
        <%= f.password_field :password, class: "fieldUsers" %>
      </div>
    <hr>
      <div class="field">
        <%= f.label :password_confirmation, 'Confirm Password',  class: "titlePostForm" %><br>
        <%= f.password_field :password_confirmation, class: "fieldUsers" %>
      </div>
    </div>
    <div class="col-md-6 passwordNoticePos">
      <div class="passwordNotice">
        - Must contain 8 or more characters<br>
        - Must contain a digit<br>
        - Must contain a lower case character<br>
        - Must contain an upper case character<br>
        - Must contain a symbol
      </div>
    </div>
  </div>
</div>

<div class="passwordNoticePosMob col-xs-12">
  <div class="passwordNotice">
    - Must contain 8 or more characters<br>
    - Must contain a digit<br>
    - Must contain a lower case character<br>
    - Must contain an upper case character<br>
    - Must contain a symbol
  </div>
</div>


<div class="col-md-6 col-md-offset-1 col-xs-12 newMargin">
  <hr>
    <div class="field">
      <%= f.label :current_password, 'To confirm changes enter Current Password',  class: "titlePostFormSmall" %><br>
      <%= f.password_field :current_password, class: "fieldUsers" %>
    </div>
<% end %>
</div>
<div class="col-md-12 col-xs-12">
  <hr>
    <div class="actions text-center">
      <%= f.submit({class: "button buttonG"}) %>
    </div>
</div>
<% end %>

</div>

