<%= stylesheet_link_tag "users", :media => "all" %>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class="container">
  <div class="text-center">
  <h1>Users</h1>
  </div>
  <hr>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= image_tag(@user.image_url(:thumb), class: "listImageUser") if @user.image? %></td>
          <td><%= @user.name %></td>
          <td><%= link_to 'User Control Panel', @user, method: :get %></td>
          <td><%= link_to 'User Settings', edit_user_path(@user), method: :get %></td>
        </tr>
    </tbody>
  </table>
</div>