<%= stylesheet_link_tag "users", :media => "all" %>
<%= javascript_include_tag "users" %>
<%= javascript_tag do %>
  var id = <%= @user.id.to_json %>;
<% end %>

<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="text-center">


      <div class="col-md-12 mainUserInfo"> 
        <div class="col-md-3">
          <%= image_tag @user.image_url(:thumb), class: "userImage" if @user.image?  %>
          
        </div>
        <div class="col-md-4">
          <p class="namesFirst"><%= user_chosen_name %></p>
          <p class= "names"><%= @user.email %></p>
        </div>
        <div class="col-md-2">
          <%= button_to "User Settings", edit_user_path(@user), method: :get, class: "btn userSettings btn-primary"  %>
        </div>
        <% if @user.store_owner.present? %>
          <div class="col-md-3">
            <%= button_to "Store Owner", @user.store_owner, method: :get, class: "btn userSettings btn-primary"  %>
          </div>
        <% else %>
          <div class="col-md-3">
            <%= button_to "New Store Owner", new_store_owner_path, method: :get, class: "btn userSettings btn-primary"  %>
          </div>
        <% end %>
      </div>



            <div class="btn">
        <%= submit_tag "Overview", method: :get, class: "btn btn1 btn-primary"  %>
      </div>

 

    <div id="overview">
      <hr>
        <table class="table table-hover">
          <thead>
            <tr>
              <th colspan="3">Stores Following</th>
            </tr>
          </thead>
          <tbody>
          <% if @user.following.blank? %>
            <tr>
              <td class= "names">You are currently not following any stores.</td>
            </tr>
          <% else %>
            <% @user.following.each do |page| %>
            <tr>
              <td><%= (link_to image_tag(page.image_url(:thumb), class: "listFollowing"), page, method: :get )if page.image?%></td>
              <td><%= link_to page.title, page, method: :get %></td>
              <td><%= page.genre %></td>
            </tr>
            <% end %>
          </tbody>
        <% end %>
        </table>
         </div>
    </div>







</div>

</div>

