<%= stylesheet_link_tag "users", :media => "all" %>
<%= javascript_include_tag "users" %>
<%= javascript_tag do %>
  var id = <%= @user.id.to_json %>;
<% end %>

<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="text-center">


      <div class="col-md-12 mainUserInfo"> 
        <div class="col-md-3 col-md-push-1">
          <%= image_tag @user.image_url(:thumb), class: "userImage" if @user.image?  %>
          
        </div>
        <div class="col-md-4">
          <p class="namesFirst"><%= user_chosen_name %></p>
          <p class= "names"><%= @user.email %></p>
        </div>
        <div class="col-md-3">
          <%= button_to "User Settings", edit_user_path(@user), method: :get, class: "btn userSettings btn-primary"  %>
        </div>
      </div>

            <div class="btn-group">
        <%= submit_tag "Overview", method: :get, class: "btn btn1 btn-primary"  %>
        <%= submit_tag "Store Panel", method: :get, class: "btn btn2 btn-primary"  %>
      </div>

 

    <div id="overview">
      <hr>
        <table class="table table-hover">
          <thead>
            <tr>
              <th colspan="3">Stores Following</th>
            </tr>
          </thead>
          <tbody>
            <% @user.following.each do |page| %>
            <tr>
              <td><%= (link_to image_tag(page.image_url(:thumb), class: "listFollowing"), page, method: :get )if page.image?%></td>
              <td><%= link_to page.title, page, method: :get %></td>
              <td><%= page.genre %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
         </div>
    </div>


<div class="container">
  <div class="row">
      <div id="pagesPanel">

        <hr>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Stores</th>
                <th colspan="3"><%= link_to "Create New Store", new_page_path, method: :get %></th>
              </tr>
            </thead>
            <tbody>
          <% @user_pages.each do |page| %>
          <tr>
             <td class="listImageUser"><%= image_tag(page.image_url(:thumb), class: "listImageUser") %></td>
             <td><%= page.title %></td>
             <td class="followFont">Followers: <%= page.followers.count %></td>
             <td><%= link_to 'Show Store', page, method: :get %></td>
             <td><%= link_to "Edit Store", edit_page_path(page), method: :get %></td>
           </tr>
          <% end %>
        </tbody>
        </table>

          <table class="table table-hover">
            <thead>
              <tr>
                <th>Categories</th>
                <th colspan="3"><%= link_to "Create New Category", new_category_path, method: :get %></th>
              </tr>
            </thead>
            <tbody>
          <% @user_categories.each do |category| %>
          <tr>
             <td class="listImageUser"><%= image_tag(category.image_url(:thumb), class: "listImageUser") if category.image? %></td>
             <td><%= category.name %></td>
             <td><%= link_to 'Show Category', category, method: :get %></td>
             <td><%= link_to "Edit Category", edit_category_path(category), method: :get %></td>
           </tr>
          <% end %>
        </tbody>
        </table>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Products</th>
              <th colspan="3"><%= link_to "Create New Product", new_product_path, method: :get %></th>
            </tr>
          </thead>
          <tbody>
          <% @user_products.each do |product| %>
          <tr>
            <% product.product_attachments.first(1).each do |p| %>
              <td class="listImageUser"><%= (link_to image_tag(p.image_url(:thumb), class: "listImageUser"), product, method: :get )if p.image?%></td>
            <% end %>
             <td><%= product.title %></td>
             <td class="pageRef">Category <%= product.category.try :name %></td>
             <td><%= link_to 'Show Product', product, method: :get %></td>
             <td><%= link_to "Edit Product", edit_product_path(product), method: :get %></td>
           </tr>
          <% end %>
        </tbody>
        </table>
      </div>
    </div>
  </div>




</div>

</div>

