<%= form_for(store_owner) do |f| %>
<div class="container">
  <% if store_owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store_owner.errors.count, "error") %> prohibited this Store Owner Account from being saved:</h2>

      <ul>
      <% store_owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
<h1>Agreement Goes Here</h1>
</div>

<hr>
  <div class="field">
    <div class="termsTitle">Terms Agreement</div>
    <br>
    <%= f.select(:store_owner_agreement, StoreOwner::TERMS_AGREEMENT, options = {prompt: 'Select Agreement'}, {class: "selectProduct"}) %>
  </div>

  <hr>

  <div class="actions">
    <%= f.submit({class: "buttonForm buttonGForm"})%>
  </div>

</div>
<% end %>
