<%= stylesheet_link_tag "orders", :media => "all" %>
<%= javascript_include_tag "orders" %>
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <%= tag :input, :type => 'hidden', :name => 'timestamp', :value => @stale_form_check_timestamp %>
  
<div class="container">
<div class="orderFields">
  <div class="field">
    <%= f.label :instructions, "Additional Requests", class: "titlePageForm" %><br>
    <%= f.text_area :instructions, placeholder: "E.g. Extra ketchup packets please.", class: "formFieldText" %>
  </div>


  <hr>    

 

 <!--Fix for multiple stores-->
<% if @pages.length == 1 %>
  <% @pages.first(1).each do |page| %>
    <% if page.access_options == "Delivery & Pick-Up" %>
    <div class="titlePageForm">For delivery or pick-up?</div>
     <div class="field">
        <%= f.select(:access_options, Order::ACCESS_OPTIONS_ORDERS, options = {prompt: 'Select an access option'}, {class: "selectPayType"}) %>
      </div>
    <% elsif page.access_options == "Delivery" %>
    <div class="titlePageForm">For delivery.</div>
      <div class="field">
          <%= f.select(:access_options, Order::ACCESS_OPTIONS_ORDERS, {selected: 'Delivery', disabled: 'Pick-Up'}, {class: "selectPayType ordersDelBox"}) %>
      </div>
      <% elsif page.access_options == "Pick-Up" %>
      <div class="titlePageForm">For pick-up.</div>
        <div class="field">
          <%= f.select(:access_options, Order::ACCESS_OPTIONS_ORDERS, {selected: 'Pick-Up', disabled: 'Delivery'}, {class: "selectPayType ordersPUBox"}) %>
        </div>
    <% end %>
  <% end %>
<% elsif @pages.length > 1 %>
  <% @pages.first(1).each do |page| %>
    <% if page.access_options == "Delivery & Pick-Up" %>
    <div class="titlePageForm">For delivery or pick-up?</div>
    <div class="orderAlert">There are multiple stores listed. Check for conflicting access methods.</div>
     <div class="field">
        <%= f.select(:access_options, Order::ACCESS_OPTIONS_ORDERS, options = {prompt: 'Select an access option'}, {class: "selectPayType"}) %>
      </div>
    <% elsif page.access_options == "Delivery" %>
    <div class="titlePageForm">For delivery.</div>
    <div class="orderAlert">There are multiple stores listed. Check for conflicting access methods.</div>
      <div class="field">
          <%= f.select(:access_options, Order::ACCESS_OPTIONS_ORDERS, {selected: 'Delivery', disabled: 'Pick-Up'}, {class: "selectPayType ordersDelBox"}) %>
      </div>
      <% elsif page.access_options == "Pick-Up" %>
      <div class="titlePageForm">For pick-up.</div>
       <div class="orderAlert">There are multiple stores listed. Check for conflicting access methods.</div>
        <div class="field">
          <%= f.select(:access_options, Order::ACCESS_OPTIONS_ORDERS, {selected: 'Pick-Up', disabled: 'Delivery'}, {class: "selectPayType ordersPUBox"}) %>
        </div>
    <% end %>
  <% end %>

<% end %>



<hr>
  <div class="field">
    <%= f.label :pay_type, class: "titlePageForm" %><br>
    <%= f.select(:pay_type, Order::PAYMENT_TYPES, options = {prompt: 'Select a payment method'}, {class: "selectPayType"}) %>
  </div>

</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <hr>
  <div class="actions">
    <div class="text-center">
      <%= f.submit("To Confirmation", {class: "buttonForm buttonGForm"}) %>
    </div>
  </div>
<% end %>
</div>




<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="text-center">
    <% if params[:action] == 'edit' || params[:action] == 'update' %> 
      <%= button_to 'Delete Order', @order, method: :delete, data: { confirm: 'Are you sure?' }, class: "buttonForm buttonDel" %>
    <% end %>
  </div>
</div>
</div>

