<%= stylesheet_link_tag "orders", :media => "all" %>
<%= javascript_include_tag "orders" %>
<div class="text-center"> 
<div class="mainTitleNew">Editing Order</div>
</div>
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <%= tag :input, :type => 'hidden', :name => 'timestamp', :value => @stale_form_check_timestamp %>
  
<div class="container">
  <div class="col-md-12">
  <div class="col-md-6 col-xs-3">
  <div class="field">
    <%= f.label :instructions, "Special Directions", class: "titlePageForm" %><br>
    <%= f.text_area :instructions, placeholder: "In the need of special requests direct it here!", class: "formFieldText" %>
  </div>



<hr>




</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <hr>
  <div class="actions">
    <div class="text-center">
      <%= f.submit("Update Order", {class: "buttonForm buttonGForm"}) %>
    </div>
  </div>
<% end %>
</div>




<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="text-center">
    <% if params[:action] == 'edit' || params[:action] == 'update' %> 
      <%= button_to 'Delete Order', @order, method: :delete, data: { confirm: 'Are you sure?' }, class: "buttonForm buttonDel" %>
    <% end %>
  </div>
</div>
</div>