<%= stylesheet_link_tag "orders", :media => "all" %>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="text-center">
    <div class="mainTitle">Order Information</div>
  </div>
  <hr>
  <div class="text-center">
  <h2>Order details</h2>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name of buyer</th>
        <th class="ordMail">Email</th>
        <th>Pay type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%= @order.user.name %></th>
        <th class="ordMail"><%= @order.user.email %></th>
        <th><%= @order.pay_type %></th>
      </tr>
    </tbody>
  </table>
  <hr>
  <div class="text-center">
  <h2>Items bought</h2>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Quantity</th>
        <th>Product name</th>
        <th class="pageName">Store name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
  	   <%= render @order.line_items %>
       <th></th>
       <th class="second"></th>
       <th>Total</th>
       <th><%= number_to_currency(@order.total_price) %></th>
     </tr>
    </tbody>
  </table>
  <hr>
  <div class="text-center">
    <h2>Special Directions</h2>
  </div>
  <% if @order.instructions.present? %>
  <div class="row">
  <div class="col-md-6 col-md-offset-3 orderId">
    <div class="Special"><%= @order.instructions %></div>
  </div>
</div>
<% else %>
<div class="row">
  <div class="text-center orderId">
  <p class="noSpecial">There are no special directions.</p>
  </div>
</div>
<% end %>
<hr>
<div class="text-center orderId">
  The order ID is <%= @order.id %>.
</div>
<hr>
<div class="text-center orderId">
  Order Date: <%= @order.created_at.to_time.strftime('%B %e at %l:%M %p') %>.
</div>
<hr>
<div class="text-center orderNote">
  If this order was created but you have not received an email confirmation the transaction was not completed and the store owner was not sent the order.
</div>
</div>






