<%= stylesheet_link_tag "pages", :media => "all" %>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="text-center">
      <div class="mainTitle">Stores</div>
      <hr>
    <% if session[:user_id] %>
    <div class="secondaryTitle">Stores Following</div>
    <hr>
    <% if current_user.following.present? %>
    <div class="row">
    <% @pagesFollow.each do |page| %>
    <%= link_to page, method: :get, class: "specialA" do %>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 wideMobiles">
          <div class="productBorder">
          <%= image_tag(page.image_url(:thumb), class: "listImagePage") %>
            <dt class="dtTitle"><%= truncate(page.title, length: 20) %></dt>
            <dt class="dtGenre"><%= page.genre %></dt>
          </div>
        </div>
      <% end %>
      <% end %>
      </div>
    <% else %>
      <div class="tertiaryTitle">You are currently not following any stores.</div>
      <hr>
    <% end %>
    <% end %>
    <hr>
    <div class="secondaryTitle">All Stores</div>
    <hr>
      <div class="row">
    <% @pages.each do |page| %>
    <%= link_to page, method: :get, class: "specialA" do %>
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 wideMobiles">
        <div class="productBorder">
        <%= image_tag(page.image_url(:thumb), class: "listImagePage") %>
          <dt class="dtTitle"><%= truncate(page.title, length: 20) %></dt>
          <dt class="dtGenre"><%= page.genre %></dt>
        </div>
      </div>
    <% end %>
    <% end %>
    </div>
  </div>
</div>

