<%= stylesheet_link_tag "carts", :media => "all" %>
<div class="container containerMob">
	<div id="paddingCart">
		<div class="text-center">
			<div class="cart_title"><p id="inCartFont">Purchase List</p></div>
		</div>
		<hr>
			<table class="cartTable">
				<%= render(@cart.line_items) %>
				
				<tr class="total_line">
					<th></th>
         			<th class="second"></th>
					<td class="total_cell">Total</td>
					<td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
				</tr>
			</table>
			<hr>
			<div class="text-center">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-6">
							<%= button_to "Checkout", new_order_path, method: :get, class: "buttonCheck buttonCheckIn" %>
						</div>
						<div class="col-md-6">
							<%= button_to "Empty List", cart, method: :delete, confirm: "Are you sure?", class: "buttonEmp buttonEmpIn" %>
						</div>
					</div>
				</div> 
			</div>    
		</div>
</div>