<%= stylesheet_link_tag "posts", :media => "all" %>
<p id="notice"><%= notice %></p>
<div class="container">
<div class="text-center">
    <h1>Posts</h1>
<hr>

<div class="row">
    <% @posts.each do |post| %>
    <div class="postBox">
        <%= link_to (image_tag post.page.image_url(:thumb), class: "listImagePagePost"), post.page, method: :get %> 
        <%= button_to "Edit", edit_post_path(post), method: :get, class: "editPosts" %>
        <h1 class="postPageTitle"><%= link_to post.page.try(:title), post.page, method: :get %></h1>
        <dt class="postTitle"><%= post.title %></dt>
        <dt><%= post.content %></dt><br>
        <% post.post_attachments.each do |p| %>
            <%= image_tag p.image_url(:small) if p.image? %>
        <% end %>
        <dt><%= post.created_at.to_time.strftime('%B %e at %l:%M %p') %></dt>
    </div>
    <% end %>
  </div>


       </div>   
</div>