<%= stylesheet_link_tag "categories", :media => "all" %>
<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
<div class="col-md-6 col-md-offset-1 col-xs-12 newMargin">
  <div class="field">
    <%= f.label "Category Name", class: "titlePageForm" %><br>
    <%= f.text_field :name, placeholder: "Name your cotegory.", class: "fieldStyle" %>
  </div>
<hr>
   <div class="field">
        <%= f.label "Upload Category Image", class: "titlePageForm" %>
        <div class="fileUpload">
          <%= f.file_field :image, class: "upload" %>
        </div>
  </div>
  <hr>
  <div class="field">
    <%= f.collection_select(:page_id, $user_pages, :id, :title, options = {prompt: "Choose a Page"}, {class: "selectProduct"}) %>
  </div>
 
  </div>
<div class="col-md-12 col-xs-12">
   <hr>
  <div class="text-center">
  <div class="actions">
    <%= f.submit({class: "button buttonG"}) %>
  </div>
<% end %>
<% if params[:action] == 'edit' || params[:action] == 'update' %> 
  <%= button_to 'Delete Category', @category, method: :delete, data: { confirm: 'Are you sure?' }, class: "button buttonDel" %>
<% end %>
</div>
</div>

</div>