<%= stylesheet_link_tag "categories", :media => "all" %>
<p id="notice"><%= notice %></p>
<div class="container">
<div class="text-center">
  <div class="mainTitle">Categories</div>
<hr>
<div class="row">
  <% @categories.each do |category| %>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
       <%= link_to image_tag(category.image_url(:thumb), class: "list_image"), category, method: :get %><br>
        <dt><%= link_to truncate(category.name, length: 20), category, method: :get %></dt>
        <dt id="fontTitle2">From <%= link_to truncate(category.page.title, length: 20), category.page, method: :get %></dt><hr>
    </div>
  <% end %>
</div>
</div>
</div>

