<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= image_tag(@category.image_url, size: "280x240") %>
<br>
<br>

<% @category_products.each do |product| %>
	<%=link_to image_tag(product.image_url, size: "180x140"), product %>
	<%= product.title %>
	<%= number_to_currency(product.price) %><br>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %> | 
<%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' } %>
