<%= stylesheet_link_tag "categories", :media => "all" %>
<p id="notice"><%= notice %></p>
<div class="container addedPadding">
<div class="row">
<div class="text-center">
<div class="catTitleMain"><%= @category.name %></div>
<hr>
<% if @category_products.present? %>
<% @category_products.each do |product| %>
<%= link_to product, method: :get, class: "specialA" do %>
	<div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 wideMobiles">
	 <div class="productBorder">
		<% product.product_attachments.first(1).each do |p| %>
	        <%= image_tag(p.image_url(:thumb), class: "list_image") if p.image?%>
	     <% end %>
		<dt class="dt1"><%= truncate(product.title, length: 20) %></dt>
		<dt class="dt2"><%= number_to_currency(product.price) %></dt>
		<dt id="fontTitle2">From <%= link_to (product.page.try :title), product.page, method: :get %></dt>
		</div>
	</div>
<% end %>
<% end %>
<% else %>
	<% if @category.user.id == @user.id %>
		<p class="pNoProd">There are no products in this category. Click button to add.</p>
		<%= button_to "Add", new_product_path(@product), method: :get, class: "newProdCat" %>
	<% else %>
		<p class="pNoProd">There are curently no products in this category.</p>
	<% end %>
<% end %>
</div>
</div>
</div>