<%= stylesheet_link_tag "products", :media => "all" %>
<p id="notice"><%= notice %></p>
<div class="container addedPadding">

<div class="text-center">
  <div class="mainTitle">Products</div>
<hr>

<div class="row ">
  <% @products.each do |product| %>
  <%= link_to product, method: :get, class: "specialA" do %>
  <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 wideMobiles">
    <div class="productBorder">
      <% product.product_attachments.first(1).each do |p| %>
              <%= image_tag(p.image_url(:thumb), class: 'list_image') if p.image?%>
          <% end %>
            <dt id="fontTitle1"><%= truncate(product.title, length: 20) %></dt>
            <dt id="fontPrice"><%= number_to_currency(product.price) %></dt>
            <dt id="fontTitle2">From <%= link_to truncate((product.page.try :title), length: 20), product.page, method: :get %></dt>
            <dd id="fontCat">Category <%= link_to (product.category.try :name), product.category, method: :get %></dd>
    </div>
  </div>
  <% end %>
  <% end %>

</div>
 <% if !@products.present? %>
    <div class="noProduct">There are no products for <%= params[:search] %>.</div>
  <% elsif params[:search] == "Hello" %>
    <div class="noProduct">There is nothing to search.</div>
  <% end %>

</div>
</div>
<!--Locstion Buyer including events revolving around you such as concerts-->
<!--How to innovate in the online market -->
<!-- How to internet of things -->