<%= stylesheet_link_tag "products", :media => "all" %>
<%= javascript_include_tag "products" %>
<p id="notice"><%= notice %></p>
<br>

    <div id = "sidev">
      <div id ="cart">
        <% if @cart %>
          <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
          <%= render @cart %>
        <% end %>
        <% end %>
      </div>
      <% if @cart.line_items.present? %>
      <div class="container-fluid">
        <div class="row">
          <div class="completeRow">
            <%= submit_tag "Purchase List", method: :get, class: "btnTog", :type => 'button' %><span class="caret"></span>
          </div>
        </div>
      </div>
      <% end %>
    </div>

<div class="text-center productMainInfo">
  <% @product.product_attachments.first(1).each do |p| %>
    <%= (link_to image_tag(p.image_url(:thumb), class: "listImageProduct"), p, method: :get )if p.image?%>
  <% end %>
  <div id="titlePos">
    <dt id="fontTitle2">Press on image to see more.</dt>
    <dt id="fontTitle3">Scroll down for information.</dt>
    <hr>
    <strong><%= @product.title %></strong>
    <dt id="fontTitle2">From <%= link_to (@product.page.try :title), @product.page, method: :get, class: "productLinks" %></dt>
  </div>

    <span class="priceShow"><%= number_to_currency(@product.price) %></span>
</div>
 <% if @product.status == "Available" %>
  <div class="text-center">
    <div class="col-lg-4 col-lg-offset-3 col-md-4 col-xl-1 col-xl-offset-5">
      <%= button_to 'Buy Now', add_line_item_path(@product), method: :get, name: "buyNow", class: "buttonBuy" %>
    </div>
      <div class="wholeRow">
        <div class="col-md-1 col-xs-5">
          <%= button_to '+', add_line_item_path(@product), method: :get, remote: true, class: "buttonAdd" %>
        </div>
        <div class="col-md-1 col-xs-5">
          <%= button_to '-', remove_line_item_path(@product), method: :get, remote: true, class: "buttonRemove" %>
        </div>
      </div>
  </div>
  <% elsif @product.status == "Not Available" %>
    <div class="text-center">
      <div class="availabilityShow">This product is currently unavailable for purchase.</div>
    </div>
  <% end %>
<div class="text-center">
  <div class="secondaryTitle">Product Comments</div>
  <br>
  <%= submit_tag "Show Comments", method: :get, class: "btn productCommentsBtnShow btn-primary", :type => 'button' %>
  <%= submit_tag "Hide Comments", method: :get, class: "btn productCommentsBtnHide btn-primary", :type => 'button' %>
  <div id ="productComments">
    <%= link_to "Add Comment", new_product_comment_path(product_id: @product.id), method: :get, class: "productComment btn btn-primary" %>
    <%= render template: 'product_comments/show' %>
  </div>
</div>
<hr>
<div class="col-md-12 introInfo">
  <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
    <strong id="fontTitleD">Description</strong>
      <p id="pAttributes">
        <%= @product.description %>
      </p>
  </div>
  <div class="col-xs-6 col-xs-offset-1 col-md-4 col-md-offset-1">
    <strong id="fontTitleD">Page</strong>
      <p id="pAttributes">
          <%= @product.page.try :title %>
      </p>
    <strong id="fontTitleD">Category</strong>
      <p id="pAttributes">
        <%= @product.category.try :name  %>
      </p>
  </div>
</div>

