<%= stylesheet_link_tag "store", :media => "all" %>
<%= javascript_include_tag "store" %>
<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<body>



<% if current_user.following.present? && session[:user_id] %>
<div class="container">
	<div class="text-center">
		<div class="row">
		<div class="container storeBorder">
			<div class="titleFrontPageNF">
				<div class="topTitle">Stores you follow</div>
				<div class="subTopTitle">Quick list to the stores you are following.</div>
			</div>
		
		<div class="scrollStores">
		    <% @pagesFollowing.reverse.each do |page| %>
		    <%= link_to page, method: :get, class: "specialA" do %>
		      <div class="col-xs-12 col-sm-12 pageWidth pageWidthLogged completeBoxPagesAll">
		      	<div class="pageDesign">
		        <%= image_tag(page.image_url(:thumb), class: "scrollImagePage pagePos") %>
		        </div>
		        <div class="pageTitleScroll"><%= truncate(page.title, length: 20) %></div>
		        <div class="pageTitleScroll"><%= truncate(page.genre, length: 20) %></div>
		      </div>
		    <% end %>
		    <% end %>
		 </div>
		</div>

			<div class="container titleFrontPageFTop">
				<div class="topTitle">Featured Stores</div>
				<div class="subTopTitle">Here you can get updates from your favorite stores.</div>
			</div>
	<div class="containerCustom followingSection">
		<% @pagesFollowing.reverse.each do |page| %>
		<%= link_to page, method: :get, class: "specialA" do %>

		<div class="col-xs-12 col-sm-12 individualStoresF storeSecF">
		      	<div class="pageDesign">
		        <%= image_tag(page.image_url(:thumb), class: "storePicF pagePos") %>
		        </div>
		        <div class="pageCredentialsF">
				     <div class="section1F">
				        <div class="individualTitleF"><%= truncate(page.title, length: 80) %></div>
				        <div class="individualGenreF"><%= truncate(page.genre, length: 80) %></div>
				     </div>

		    	</div>
		    <% end %>

		    <div class="titleFrontPageF">
				<div class="topTitleSecF">Popular Products</div>
			</div>
	<% if page.products.present? %>
		   <div class="scrollProductsF">
	       <% page.products.limit(6).each do |product| %>
			    <%= link_to product, method: :get, class: "specialA" do %>
			      <div class="col-xs-12 col-sm-12 iBoxWidth iBox">
		      	  <% product.product_attachments.first(1).each do |p| %>
				    <%= image_tag(p.image_url(:thumb), class: "iProductImage pagePos") if p.image?%>
				  <% end %>
			        <div class="iProductTitle"><%= truncate(product.title, length: 20) %></div>
			        <div class="iProductInfo"><%= number_to_currency(product.price) %></div>
			      </div>
			    <% end %>
			    <% end %>
			</div>
	<% else %>
		<div class="blankTitleF">This store currently has no products.</div>
	<% end %>

		    <div class="titleFrontPageF">
				<div class="topTitleSecF">Recent Posts</div>
			</div>



	<% if page.posts.present? %>




 <div class="scrollPostsF">

		<% page.posts.reverse.first(2).each do |post| %>



 <% if post.post_attachments.present? %>
<%= link_to post, method: :get, class: "specialA" do %>

		<div class="overallPost">





		      <div class="postSectorF">
		     	
		        <div class="pictureSection">
			        <% if post.post_attachments.length < 2 %>
			          <% post.post_attachments.each do |p| %>
			            <%= (image_tag(p.image_url(:horizontal), class: "post1Pictures")) if p.image?%>
			          <% end %>
			          <% elsif post.post_attachments.length < 3 %>
			           <% post.post_attachments.each do |p| %>
			            <%= (image_tag(p.image_url(:small), class: "post2Pictures")) if p.image?%>
			          <% end %>
			          <% elsif post.post_attachments.length > 4 %>
			          <% post.post_attachments.limit(4).each do |p| %>
			            <%= (image_tag(p.image_url(:small), class: "postPictures")) if p.image?%>
			          <% end %>
			          <%= link_to 'Show more', post, method: :get, class: "showImagePosts" %>
			          <% else %>
			          <% post.post_attachments.limit(2).each do |p| %>
			            <%= (image_tag(p.image_url(:small), class: "postPictures")) if p.image?%>
			          <% end %>
			        <% end %>
		      	</div>

		     <div class="contentSector">
		     	<dt class="postTitleSector col-md-12 col-xs-12"><%= truncate post.title, length: 40 %></dt>

		          <% if post.content.length > 150 %>
		            <div class="postContentSector col-md-12 col-xs-12"><%= truncate post.content, length: 150 %></div>
		          <% else %>
		            <div class="postContentSector col-md-12 col-xs-12"><%= post.content %></div>
		           <% end %>

		     </div>
		     
		    </div>




                <span class="dateNtime"><%= post.updated_at.to_time.strftime('%B %e at %l:%M %p') %></span>
              



			</div>

			<% end %>

			<% else %>
			<%= link_to post, method: :get, class: "specialB" do %>
			<div class="overallPost">
				<div class="postSectorFNoI">
					<div class="contentSectorNoImage">
		     			<dt class="postTitleSector col-md-12 col-xs-12"><%= truncate post.title, length: 40 %></dt>

			          <% if post.content.length > 300 %>
			            <div class="postContentSector col-md-12 col-xs-12"><%= truncate post.content, length: 300 %></div>
			          <% else %>
			            <div class="postContentSector col-md-12 col-xs-12"><%= post.content %></div>
			           <% end %>

		     		</div>
		     		<span class="dateNtime"><%= post.updated_at.to_time.strftime('%B %e at %l:%M %p') %></span>
		     

				</div>
			</div>

			<% end %>

			<% end %>

		 	<% end %>

</div>


		 <% else %>

			<div class="blankTitleF">This store currently has no posts.</div>
		<% end %>





		</div>

			

		<% end %>
	</div>


<% if @pagesNotFollowing.present? %>
	<div class="col-md-12 col-xs-12">
		<div class="titleFrontPageNFFeatured">
			<div class="topTitle">Check out these other stores</div>
			<div class="subTopTitle">Here is a list of stores you may like.</div>
		</div>
	</div>

		<div class="container individualStoresSection">
			<% @pagesNotFollowing.each do |page| %>
				<%= link_to page, method: :get, class: "specialA" do %>
					<div class="col-xs-12 col-sm-12 individualStores completePages">
					
						<div class="pageDesign">
				        	<%= image_tag(page.image_url(:thumb), class: "individualPictures pagePos") %>
				        </div>
				     <div class="pageCredentials">
					     <div class="section1">
					        <div class="individualTitle"><%= truncate(page.title, length: 30) %></div>
					        <div class="individualGenre"><%= truncate(page.genre, length: 30) %></div>
					     </div>
					     <div class="section2">
						  <% if page.opening_day.present? && page.closing_day.present? && page.opening_time.present? && page.closing_time.present? %>
						       
						      <strong id="fontTitleD">Store Times</strong>
						        <p id="pAttributes">
						          <%= page.opening_day %> - <%= page.closing_day %><br>
						          <%= page.opening_time.to_time.strftime('%l:%M %p') %> - <%= page.closing_time.to_time.strftime('%l:%M %p') %> 
						        </p>
						  <% else %>
						  	<p id="noTimes">
						  		No times availible.
						  	</p>
						  <% end %>
					     </div>
					    <div class="section3">
					     <% if page.page_notes.present? %>
					        <strong id="fontTitleD">Store Notes</strong>
					        <p id="pAttributes">
					          <%= page.page_notes %>
					        </p>
					     <% end %>
					      </div>
		        	<% end %>
		        	</div>

		<% if page.products.present? %>
				        <div class="scrollProducts">
				       <% page.products.limit(6).each do |product| %>
						    <%= link_to product, method: :get, class: "specialA" do %>
						      <div class="col-xs-12 col-sm-12 iBoxWidth iBox">
					      	  <% product.product_attachments.first(1).each do |p| %>
							    <%= image_tag(p.image_url(:thumb), class: "iProductImage pagePos") if p.image?%>
							  <% end %>
						        <div class="iProductTitle"><%= truncate(product.title, length: 20) %></div>
						        <div class="iProductInfo"><%= number_to_currency(product.price) %></div>
						      </div>
						    <% end %>
						    <% end %>
						</div>
		<% else %>
			<div class="noProducts">Currently there are no products available.</div>
		<% end %>


					</div>
				
			<% end %>
		</div>
<% else %>
<% end %>




		</div>
	</div>
</div>



<% elsif  current_user.following.blank? && session[:user_id] %>
	<div class="text-center">

		<div class="container storeBorder">
			<div class="titleFrontPageNF">
				<div class="topTitle">All Stores</div>
				<div class="subTopTitle">The complete selection of stores.</div>
			</div>
		
		<div class="scrollStores">
		    <% @pages.each do |page| %>
		    <%= link_to page, method: :get, class: "specialA" do %>
		      <div class="col-xs-12 col-sm-12 pageWidth pageWidthLogged completeBoxPagesAll">
		      	<div class="pageDesign">
		        <%= image_tag(page.image_url(:thumb), class: "scrollImagePage pagePos") %>
		        </div>
		        <div class="pageTitleScroll"><%= truncate(page.title, length: 20) %></div>
		        <div class="pageTitleScroll"><%= truncate(page.genre, length: 20) %></div>
		      </div>
		    <% end %>
		    <% end %>
		 </div>
		</div>


	<div class="container titleFrontPageNFFeatured">
		<div class="topTitle">Featured Stores</div>
		<div class="subTopTitle">Get a more in-depth look at stores with a brief list of their products.</div>
	</div>

	<div class="container individualStoresSection">

		<% @notFollowingPages.limit(6).each do |page| %>
		    <%= link_to page, method: :get, class: "specialA" do %>
		      <div class="col-xs-12 col-sm-12 individualStores completePages">


		      	<div class="pageDesign">
		        <%= image_tag(page.image_url(:thumb), class: "individualPictures pagePos") %>
		        </div>

		     <div class="pageCredentials">
			     <div class="section1">
			        <div class="individualTitle"><%= truncate(page.title, length: 30) %></div>
			        <div class="individualGenre"><%= truncate(page.genre, length: 30) %></div>
			     </div>

				<div class="section2">
				  <% if page.opening_day.present? && page.closing_day.present? && page.opening_time.present? && page.closing_time.present? %>
				       
				      <strong id="fontTitleD">Store Times</strong>
				        <p id="pAttributes">
				          <%= page.opening_day %> - <%= page.closing_day %><br>
				          <%= page.opening_time.to_time.strftime('%l:%M %p') %> - <%= page.closing_time.to_time.strftime('%l:%M %p') %> 
				        </p>
				  <% else %>
				  	<p id="noTimes">
				  		No times availible.
				  	</p>
				  <% end %>
			     </div>
			     <div class="section3">
			     <% if page.page_notes.present? %>
			        <strong id="fontTitleD">Store Notes</strong>
			        <p id="pAttributes">
			          <%= page.page_notes %>
			        </p>
			     <% end %>
			       </div>

		    </div>
		      
		    <% end %>
<% if page.products.present? %>
		   <div class="scrollProducts">
	       <% page.products.limit(6).each do |product| %>
			    <%= link_to product, method: :get, class: "specialA" do %>
			      <div class="col-xs-12 col-sm-12 iBoxWidth iBox">
		      	  <% product.product_attachments.first(1).each do |p| %>
				    <%= image_tag(p.image_url(:thumb), class: "iProductImage pagePos") if p.image?%>
				  <% end %>
			        <div class="iProductTitle"><%= truncate(product.title, length: 20) %></div>
			        <div class="iProductInfo"><%= number_to_currency(product.price) %></div>
			      </div>
			    <% end %>
			    <% end %>
			</div>
<% else %>
	<div class="noProducts">Currently there are no products available.</div>
<% end %>




	</div>
		    <% end %>
	</div>



	</div>
<% end %>




<% if !session[:user_id] %>
	<div class="container storeBack">
		<div class="row">
			<div class="firstIntro">
	  			<div class="welcome">Markset</div>
	  			<div class="exSection">Buy direcly from stores and stay updated with them.</div>
	  			<div class="text-center">
		  			<%= link_to 'Login', login_path, method: :get, class: "btn btn-primary loginBtn" %>
		  			<%= link_to 'Sign Up', new_user_path, method: :get, class: "btn btn-primary signBtn" %>
	  			</div>
  			</div>
		</div>
	</div>
	<hr>
	<div class="col-md-12 text-center"> 
	<div class="container"> 
		<div class="col-md-4">
			<%= image_tag("Image1.png", class: "image1") %>
			<div class="pageIns">Browse through stores that align with your interests.</div>
		</div>
		<div class="col-md-4 stageMid">
			<%= image_tag("Image2.png", class: "image1") %>
			<div class="pageIns">Once you choose a store, you have the ability to buy from them and also follow them.</div>
		</div>
		<div class="col-md-4">
			<%= image_tag("Image3.png", class: "image1") %> 
			<div class="pageIns">Buy any product from the listed stores with a quick purchasing process.</div>
		</div>
	</div>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
	<div class="text-center">
		<div class="container">
			<div class="secondaryTitle">Stores to follow</div>
			<div class="convinientBorder"></div>
		    <% @pages.each do |page| %>
		    <%= link_to page, method: :get, class: "specialA" do %>
		      <div class="col-xs-12 col-sm-12 pageWidth completeBox">
		      	<div class="pageDesign">
		        <%= image_tag(page.image_url(:thumb), class: "listImagePage pagePos") %>
		        </div>
		        <div class="pageTitle"><%= truncate(page.title, length: 20) %></div>
		        <div class="pageDesc"><%= page.genre %></div>
		    </div>
		    <% end %>
		    <% end %>
		    </div>
		  <div class="container">
		   <div class="categoryTitle">Featured Categories</div>
			<div class="convinientBorder"></div>
		    <% @categories.limit(6).each do |category| %>
		    <%= link_to category, method: :get, class: "specialA" do %>
		      <div class="col-xs-12 col-sm-12 pageWidth completeBox">
		        <%= image_tag(category.image_url(:thumb), class: "listImagePage pagePos") %>
		        <div class="pageTitle"><%= truncate(category.name, length: 20) %></div>
		        <div class="pageDesc">From <%= link_to (category.page.title), category.page, method: :get %></div>
		      </div>
		    <% end %>
		    <% end %>
		  </div>
		 <div class="container">
		   <div class="categoryTitle">Featured Products</div>
			<div class="convinientBorder"></div>
		    <% @products.limit(6).each do |product| %>
		    <%= link_to product, method: :get, class: "specialA" do %>
		      <div class="col-xs-12 col-sm-12 pageWidth completeBox">
	      	  <% product.product_attachments.first(1).each do |p| %>
			    <%= image_tag(p.image_url(:thumb), class: "listImagePage pagePos") if p.image?%>
			  <% end %>
		        <div class="pageTitle"><%= truncate(product.title, length: 20) %></div>
		        <div class="productInfo"><%= number_to_currency(product.price) %></div>
		        <div class="productInfo">From <%= link_to (product.page.title), product.page, method: :get %></div>
		      </div>
		    <% end %>
		    <% end %>
		  </div>
	   
	</div>
<% end %>
</body>










