<%= stylesheet_link_tag "store", :media => "all" %>
<%= javascript_include_tag "store" %>
<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<body>
<% if current_user.following.present? && session[:user_id] %>
<div class="container">
	<div class="text-center">
		<div class="row">
		<% if @posts.exists? %>
		<% @posts.each do |post| %>
			<div class="postBox">
				<%= link_to (image_tag post.page.image_url(:thumb), class: "listImagePagePost"), post.page, method: :get %> 
				<div class="postPageTitle"><%= link_to post.page.try(:title), post.page, method: :get %></div>
                <div class="postSection">
                	<div class="pictureSection">
                   <% if post.post_attachments.length < 2 %>
			          <% post.post_attachments.each do |p| %>
			            <%= (link_to image_tag(p.image_url(:horizontal), class: "post1Pictures"), p, method: :get) if p.image?%>
			          <% end %>
			          <% elsif post.post_attachments.length < 3 %>
			           <% post.post_attachments.each do |p| %>
			            <%= (link_to image_tag(p.image_url(:small), class: "post2Pictures"), p, method: :get) if p.image?%>
			          <% end %>
			          <% elsif post.post_attachments.length > 4 %>
			          <% post.post_attachments.limit(4).each do |p| %>
			            <%= (link_to image_tag(p.image_url(:small), class: "postPictures"), p, method: :get) if p.image?%>
			          <% end %><hr>
			          <%= link_to 'Show more', post, method: :get, class: "showImagePosts" %>
			          <% else %>
			          <% post.post_attachments.limit(4).each do |p| %>
			            <%= (link_to image_tag(p.image_url(:small), class: "postPictures"), p, method: :get) if p.image?%>
			          <% end %>
			        <% end %>
              	</div>
				</div>
				<div class="contentSection">
				<dt class="postTitle"><%= post.title %></dt>
					<% if post.content.length > 200 %>
                    	<div class="postContent"><%= truncate post.content, length: 200 %></div>
                    <%= link_to 'read more', post, method: :get %>
                  <% else %>
                    <div class="postContent"><%= post.content %></div>
                  <% end %>
                </div>
				<div class="lowerAttri">
				<% if post.comments.present? %>
					<% post.comments.limit(1).each do |comment| %>
						<span class="comment"><%= link_to "Comments", comment, method: :get %></span>
					<% end %>
				<% else %>
					<span class="comment"><%= link_to "Add Comment", new_comment_path(post_id: post.id), method: :get %></span>
				<% end %>
                	<span class="dateNtime"><%= post.updated_at.to_time.strftime('%B %e at %l:%M %p') %></span>
                </div>
			</div>
		<% end %>
		<% else %>
		<div class="text-center">
		<div class="noPostTitle">It seems that the page you are following has not posted anything yet. Check out these other stores.</div>
	    <% @pages.each do |page| %>
	      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	      	<div class="pageDesign">
	        <%= link_to image_tag(page.image_url(:thumb), class: "listImagePage pagePos"), page, method: :get, class: "pageShowcase" %>
	        </div>
	        <div class="pageTitle"><%= link_to truncate(page.title, length: 20), page, method: :get %></div>
	        <div class="pageTitle"><%= page.genre %></div>
	        <div class="pageDesc"><%= page.description %></div>
	      </div>
	    <% end %>
	</div>
		<% end %>
		</div>
	</div>
</div>



<% elsif  current_user.following.blank? && session[:user_id] %>
	<div class="text-center">
		<div class="secondaryTitle">Stores to follow</div>
	    <% @pages.each do |page| %>
	      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	      	<div class="pageDesign">
	        <%= link_to image_tag(page.image_url(:thumb), class: "listImagePage pagePos"), page, method: :get, class: "pageShowcase" %>
	        </div>
	        <div class="pageTitle"><%= link_to truncate(page.title, length: 20), page, method: :get %></div>
	        <div class="pageTitle"><%= page.genre %></div>
	        <div class="pageDesc"><%= page.description %></div>
	      </div>
	    <% end %>
	</div>
<% end %>




<% if !session[:user_id] %>
	<div class="container">
		<div class="row">
			<div class="firstIntro">
	  			<div class="welcome">Welcome to Markset</div>
	  			<div class="exSection">Markset is a place where you can buy from your favorite brands and keep in touch with their activity.</div>
	  			<%= link_to 'Login', login_path, method: :get, class: "btn btn-primary loginBtn" %>
	  			<%= link_to 'Sign Up', new_user_path, method: :get, class: "btn btn-primary signBtn" %>
  			</div>
		</div>
	</div>
	<div class="text-center">
		<div class="container">
			<div class="secondaryTitle">Stores to follow</div>
			<div class="convinientBorder"></div>
		    <% @pages.each do |page| %>
		    <%= link_to page, method: :get, class: "specialA" do %>
		      <div class="col-xs-12 col-sm-12 pageWidth completeBox">
		      	<div class="pageDesign">
		        <%= image_tag(page.image_url(:thumb), class: "listImagePage pagePos") %>
		        </div>
		        <div class="pageTitle"><%= truncate(page.title, length: 20) %></div>
		        <div class="pageDesc"><%= page.genre %></div>
		    </div>
		    <% end %>
		    <% end %>
		    </div>
		  <div class="container">
		   <div class="categoryTitle">Featured Categories</div>
			<div class="convinientBorder"></div>
		    <% @categories.limit(6).each do |category| %>
		    <%= link_to category, method: :get, class: "specialA" do %>
		      <div class="col-xs-12 col-sm-12 pageWidth completeBox">
		      	<div class="pageDesign">
		        <%= image_tag(category.image_url(:thumb), class: "listImagePage pagePos") %>
		        </div>
		        <div class="pageTitle"><%= truncate(category.name, length: 20) %></div>
		        <div class="pageDesc">From <%= category.page.title %></div>
		      </div>
		    <% end %>
		    <% end %>
		  </div>
		 <div class="container">
		   <div class="categoryTitle">Featured Products</div>
			<div class="convinientBorder"></div>
		    <% @products.limit(6).each do |product| %>
		    <%= link_to product, method: :get, class: "specialA" do %>
		      <div class="col-xs-12 col-sm-12 pageWidth completeBox">
	      	  <% product.product_attachments.first(1).each do |p| %>
			    <%= image_tag(p.image_url(:thumb), class: "listImagePage pagePos") if p.image?%>
			  <% end %>
		        <div class="pageTitle"><%= truncate(product.title, length: 20) %></div>
		        <div class="pageDesc"><%= number_to_currency(product.price) %></div>
		        <div class="pageDesc">From <%= product.page.title %></div>
		      </div>
		    <% end %>
		    <% end %>
		  </div>
	   
	</div>
<% end %>
</body>










