<%= stylesheet_link_tag "charges", :media => "all" %>
<%= javascript_include_tag "charges" %>

<%= form_for(@charge) do |f| %>
  <% if charge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(charge.errors.count, "error") %> prohibited this charge from being saved:</h2>

      <ul>
      <% charge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="col-md-12 col-xs-3">
    <div class="text-center">


  <div class="field">
    <%= f.hidden_field :order_id, value: @order.id %>
  </div>

    <div class="field">
    <%= tag :input, :type => 'hidden', :name => 'timestamp', :value => @time_stamp %>
  </div>

<% if @order.pay_type == "Card" %>
          <%= form_tag charges_path do %>
            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
            </article>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="<%= current_user.name %> <%= number_to_currency(@cart.total_price) %>"
                    data-amount="<%= number_to_currency(@cart.total_price) %>"
                    data-email="<%= current_user.email %>"
                    data-label="Pay <%= number_to_currency(@cart.total_price) %>"
                    data-image="<%= current_user.image %>"
                    data-locale="auto"></script>

          <% end %>
      </div>
    <% elsif @order.pay_type == "Cash" %>
    <% end %>
  </div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="actions">
    <div class="text-center">
      <div class="orderNotice">Please wait while your order is processed.</div>
      <hr>
      <% if @order.pay_type == "Card" %>
        <%= f.submit("Pay With Card", {class: "buttonForm buttonGForm submitOrder"}) %>
      <% elsif @order.pay_type == "Cash" %>
        <%= f.submit("Pay With Cash", {class: "buttonForm buttonGForm submitOrder"}) %>
      <% end %>
    </div>
  </div>
</div>
<% end %>

 </div>
