<%= javascript_tag do %>
  var productNames = <%= Product.all.map(&:title).to_json.html_safe %>;
<% end %>
<!DOCTYPE html>
<meta content='width=device-width, initial-scale=1, user-scalable=0' name='viewport'/>
<html>
  <head>
    <title>Markset</title>
      <%= csrf_meta_tag %>
      <%= stylesheet_link_tag "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= favicon_link_tag "favicon.ico" %>
  </head>
<body class="<%= controller.controller_name %> container-fluid">

<div class="row">
<!--LoggedOUT Start-->
  <% if !session[:user_id] %>
  <nav class="navbar navbar-inverse topnav navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="title">
        <%= link_to 'Markset', store_path, method: :get, class: "navbar-brand" %>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse topnavOut" id="bs-example-navbar-collapse-1">
      <% if !session[:user_id] %>
        <%= form_tag(products_path, method: :get, class: "navbar-form navbar-left") do %>
        <%= text_field_tag :search, params[:search], class: "searchBoxDim", id: "tags", placeholder: "Search products" %>
        <%= image_submit_tag("magGlass.png", class: "magSub") %>
        <% end %>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Stores', pages_path, method: :get, class: "navLinks" %></li>
        <li><%= link_to 'Categories', categories_path, method: :get, class: "navLinks" %></li>
        <li><%= link_to 'Products', products_path, method: :get, class: "navLinks" %></li>
        <li><%= link_to 'Login', login_path, method: :get, class: "navLinks" %></li>
      </ul>
    </div>
  </div>
</nav>
  <% end %>
<!--LoggedOUT End-->
<!--LoggedIN Start-->
<% if session[:user_id] %>
<nav class="navbar navbar-inverse topnav navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="title">
        <%= link_to 'Markset', store_path, method: :get, class: "navbar-brand" %>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse topnav" id="bs-example-navbar-collapse-1">
        <%= form_tag(products_path, method: :get, class: "navbar-form navbar-left") do %>
          <%= text_field_tag :search, params[:search], class: "searchBoxDim", id: "tags", placeholder: "Search products" %>
          <%= image_submit_tag("magGlass.png", class: "magSub") %>
        <% end %>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Stores', pages_path, method: :get, class: "navLinks" %></li>
        <li><%= link_to 'Categories', categories_path, method: :get, class: "navLinks" %></li>
        <li><%= link_to 'Products', products_path, method: :get, class: "navLinks" %></li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= truncate(current_user.name, length: 20) unless current_user.name.blank? %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Purchase List", @cart, method: :get, class: "navDrop" %></li>
            <li ><%= link_to 'Orders', orders_path, method: :get, class: "navDrop" %></li>
            <li><%= link_to 'User Dashboard', users_path, method: :get, class: "navDrop" %></li>
            <li><%= link_to 'Logout', logout_url, method: :delete, data: {confirm: 'Are you sure?'}, class: "navDrop" %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


  <% end %>
  <!--LoggedIN End-->
    <%= yield %>
    <footer>
      <div class="container">
        <p id="footerFont"> &copy; Markset 2017 &nbsp; &nbsp; &nbsp; Created by Brandon Caiza</p>
      </div>
    </footer>
  		 
      
</html>
